header
    height: 60px
    display: flex
    align-items: center
    position: relative
    & > *
        display: inline-block
    .logo
        @include responsiveLogo

    h1
        color: white
        font-size: 2rem
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%,-50%)
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        font-weight: bolder